

<table>
  <thead>

    <tr>
      <th>Nome</th>
      <th>CNPJ</th>
      <th>Endereço</th>
      <th>Contato</th>
    </tr>


  </thead>
  <tbody>
    <tr *ngFor="let empresa of empresas">

      <td>{{ empresa.nome }}</td>
      <td>{{ empresa.cnpj }}</td>
      <td>{{ empresa.endereco }}</td>
      <td>{{ empresa.contato }}</td>

    </tr>

    <app-empresa-lista></app-empresa-lista>
    <tr *ngFor="let empresa of empresas">
      <td>{{ empresa.nome }}</td>
      <td>{{ empresa.cnpj }}</td>
      <td>{{empresa.endereco}}</td>
      <td>{{empresa.contato}}</td>

      <td>
        <button (click)="removerEmpresa(empresa)">Remover</button>
      </td>

  </tbody>
</table>
